<head>
    <h1>Services List</h1>
  </head>
<td><a href= <%= new_service_path %> class = "btn btn-success">New Service</a></td>
<table class = "table table-striped">
<tr>
    <th>Name</th>
    <th>Price</th>
    <th colspan="2"></th>
    </tr>

  <% @service.each do |service| %>
  <tr>
  <td><%= service.name %></td>
  <td><%= service.price %></td>
  <td><a href= <%= edit_service_path(service) %> class = "btn btn-warning">Edit</a></td>
  </tr>
  <%end%>
  </table>
  <td><a href= <%= homepage_index_path %> class = "btn btn-default">Back</a></td>
  