<!DOCTYPE html>
<html lang='en'>
  <head>
    <h1>Homepage</h1>
  </head>
<body>
<div class = 'row'>
<div class = 'col-sm-6'>
<p>To add new customers, pets or bookings, click on customers</p>
<div class = 'btn-group'>
<a href = '<%= customers_index_path %>' class = 'btn btn-info' role = 'button'>Customers</a>  
<a href = '<%= pets_index_path %>' class = 'btn btn-info' role = 'button'>View Pets</a>
<a href = '<%= newbookings_index_path %>' class = 'btn btn-info' role = 'button'>View Bookings</a>
<a href = '<%= services_path %>' class = 'btn btn-info' role = 'button'>View Services</a>
</div>
<h2>Today's Bookings</h2>
<table class = 'table table-striped'>
<tr>
    <th>Customer</th>
    <th>Pet</th>
    <th>Address</th>
    <th>Time</th>
    <th>Service</th>
    <th>Price</th>
    <th colspan = '2'></th>
    </tr>

  <% @todaysbookings.each do |newbooking| %>
  <tr>
  <td><%= newbooking.pet.customer.name %></td>
  <td><%= newbooking.pet.name %></td>
  <td><%= newbooking.pet.customer.address %></td>
  <td><%= newbooking.time.strftime('%k:%M') %></td>
  <td><%= newbooking.service_name %></td>
  <td><%= number_to_currency(newbooking.price, :unit => '£') %></td>
  </tr>
  <%end%>
  </table>
</div>

</body>
<div class = 'col-sm-6'>
<h1>Statistics:</h1>
<h3>Total Number Of Bookings: <%= @totalbookings %></h3>
<h2>Value Of:</h2>
<h3>Incomplete bookings: <%= number_to_currency(@money_totals[:incomplete], unit: '£') %></h3>
<h3>Due Payments: <%= number_to_currency(@money_totals[:due], unit: '£') %></h3>
<h3>Settled Payments: <%= number_to_currency(@money_totals[:settled], unit: '£') %></h3>

</div>
</div>
<div class = 'row'>
<div class = 'col-sm-4'>
<p>
<h2>Make Quick Booking:</h2>
<%= form_with(url: homepage_index_path, method: :get, local: true) do |form| %>
    <%= form.collection_select(:pet_id, Pet.all, :id, :name, prompt: 'Select Pet') %>
    <%= form.submit 'Make booking' %>
<% end %>
</p>
</div>
</div>
<div class = 'row'>
<div class = 'col-sm-4'>
<p>
<a href = '<%= welcome_index_path %>' class = 'btn btn-default' role = 'button'>Log Out</a>
</p>
</div>
</div>
</div>
</div>
</html>

