<!DOCTYPE html>
<html lang="en">
  <head>
    <h1>Homepage</h1>
  </head>
<body>
<div class = "row">
<div class = "col-sm-6">
<p>To add new customers, pets or bookings, click on customers</p>
<div class = "btn-group">
<a href = "<%= customers_index_path %>" class = "btn btn-info" role = "button">Customers</a>  
<a href = "<%= pets_index_path %>" class = "btn btn-info" role = "button">View Pets</a>
<a href = "<%= newbookings_index_path %>" class = "btn btn-info" role = "button">View Bookings</a>
<a href = "<%= services_path %>" class = "btn btn-info" role = "button">View Services</a>
</div>
</div>
</body>
<div class = "col-sm-6">
<h1>Stats</h1>
<h3>Unpaid, incomplete bookings: £<%= @unpaidincomplete.reduce(0) { |sum, booking| sum + booking.service.price } %></h3>
<h3>Unpaid, complete bookings: £<%= @unpaidcomplete.reduce(0) { |sum, booking| sum + booking.service.price } %></h3>
<h3>Paid, incomplete bookings: £<%= @paidincomplete.reduce(0) { |sum, booking| sum + booking.service.price } %></h3>
<h3>Paid, complete bookings: £<%= @paidcomplete.reduce(0) { |sum, booking| sum + booking.service.price } %></h3>
<h3>Total Number Of Bookings: <%= @totalbookings %></h3>
</div>
</div>
</html>

