<h1>New Pet</h1>
<%= form_for :pet, url: pets_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :breed %><br>
    <%= f.text_field :breed %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
<%= link_to 'Back', pets_path %>
