<head>
<h1>Pet</h1>
</head>
<div class = "row">
<div class = "col-sm-4">
<h2>Pet Details</h2>
<p>
<strong>Name: </strong><%= @pet.name %> 
</p>
<p>
<strong>Breed: </strong><%= @pet.breed %>
</p>
<p>
<div class = "btn-group">
  <a href = "<%= customer_path(@pet.customer) %>" class = "btn btn-default">Owner Info</a>
  <a href = "<%= newbookings_index_path %>" class = "btn btn-default">All Bookings</a>
  <a href = "<%= pets_index_path %>" class = "btn btn-default">All Pets</a>
</div>
</p>
</div>

<div class = "col-sm-4">
<h2>Bookings:</h2>
<%= render @pet.newbookings %>
</div>


<div class = "col-sm-4">
<h2>Make a Booking:</h2>
  <a href = "<%= new_customer_pet_newbooking_path(@pet.customer, @pet) %>" class = "btn btn-success">New Booking</a>
</div>

</div>


