<!DOCTYPE html>
<html lang="en">
  <head>
    <h1>Customers</h1>
  </head>
<p>Click on 'show' next to a customer to add a pet or booking to their account</p>
<a href=<%= new_customer_path %> class="btn btn-success" role="button">New Customer</a>

<table class = "table">
<tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address</th>
    <th>Postcode</th>
    <th colspan="2"></th>
    </tr>

  <% @customer.each do |customer| %>
  <tr>
  <td><%= customer.name %></td>
  <td><%= customer.phone %></td>
  <td><%= customer.email %></td>
  <td><%= customer.address %></td>
  <td><%= customer.postcode %></td>
  <td><a href= <%= customer_path(customer) %> class = "btn btn-success">Show</a></td>
  <td><a href= <%= edit_customer_path(customer) %> class = "btn btn-warning">Edit</a></td>
  <td><%= link_to 'Destroy', customer_path(customer),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
               </td>
  </tr>
  <%end%>
  </table>
  <a href="/homepage/index" class="btn btn-default" role="button">Back</a>
  </html>