
<!DOCTYPE html>
<html lang = "en">
  <head>
    <h1>Customer</h1>
  </head>
<div class = "row">
<div class = "col-sm-4">
<div class = "container">
<h2>Customer Details</h2>
<p>
<%= @customer.name %> 
</p>
<p>
<%= @customer.phone %>
</p>
<p>
<%= @customer.email %>
</p>
<p>
<%= @customer.address %>
</p>
<p>
<%= @customer.postcode %>
</p>
</div>
</div>



<div class = "col-sm-4">
<h2>Pets</h2>
<%= render @customer.pets %>

 </div>


</div>

<div class = "row">
<div class = "col-sm-4">
<div class = "btn-group">
 <a href = "<%= edit_customer_path(@customer) %>" class = "btn btn-warning" role = "button">Edit</a>
<a href = "<%= customers_path %>" class = "btn btn-default" role = "button">All Customers</a>
<a href = "<%= pets_index_path %>" class = "btn btn-default" role = "button">All Pets</a>
</div>

</div>

<div class = "col-sm-4">
<h2>Add a pet:</h2>
<%= render 'pets/form' %>
</div>

<div class = "col-sm-4">

</div>

</div>


</html>