<!DOCTYPE html>
<html lang="en">
  <head>
    <h1>Bookings</h1>
  </head>

<table class = "table table-striped">
<tr>
    <th>Customer</th>
    <th>Pet</th>
    <th>Address</th>
    <th>Session</th>
    <th colspan="2"></th>
    </tr>

  <% @newbooking.each do |newbooking| %>
  <tr>
  <td><%= newbooking.pet.customer.name %></td>
  <td><%= newbooking.pet.name %></td>
  <td><%= newbooking.pet.customer.address %></td>
  <td><%= newbooking.session %></td>
  <td><%= link_to 'Destroy', newbooking_path(newbooking),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>

  </tr>
  <%end%>
  </table>
  <a href = <%= homepage_index_path %> class = "btn btn-default" role = "button">Homepage</a>
  </html>