<!DOCTYPE html>
<html lang="en">
  <head>
    <h1>Bookings</h1>
  </head>

<table class = "table table-striped">
<tr>
    <th>Customer</th>
    <th>Pet</th>
    <th>Address</th>
    <th>Session</th>
    <th>Service</th>
    <th>Price</th>
    <th colspan="2"></th>
    </tr>

  <% @newbooking.each do |newbooking| %>
  <tr>
  <td><%= newbooking.pet.customer.name %></td>
  <td><%= newbooking.pet.name %></td>
  <td><%= newbooking.pet.customer.address %></td>
  <td><%= newbooking.session %></td>
  <td><%= newbooking.service.name %></td>
  <td><%= newbooking.service.price %></td>
  </tr>
  <%end%>
  </table>
  <a href = "/homepage/index" class = "btn btn-default" role = "button">Back</a>
  </html>