<!DOCTYPE html>
<html lang = "en">
  <head>
    <h1>Bookings</h1>
  </head>
<%= will_paginate @newbooking , renderer: WillPaginate::ActionView::LinkRenderer %>
<%= form_with(url: newbookings_index_path, method: :get, local: true) do |form| %>
<%= form.select :order, ["Customer Name", "Date"] %>
    <%= form.submit "Sort" %>
<%end%>
<table class = "table table-striped">
<tr>
    <th>Customer</th>
    <th>Pet</th>
    <th>Address</th>
    <th>Date</th>
    <th>Time</th>
    <th>Service</th>
    <th>Price</th>
    <th>Paid?</th>
    <th>Completed?</th>
    <th colspan = "2"></th>
    </tr>
  <% @newbooking.each do |newbooking| %>
  <tr>
  <td><%= newbooking.pet.customer.name %></td>
  <td><%= newbooking.pet.name %></td>
  <td><%= newbooking.pet.customer.address %></td>
  <td><%= newbooking.date %></td>
  <td><%= newbooking.time.strftime("%k:%M") %></td>
  <td><%= newbooking.service.name %></td>
  <td><%= number_to_currency(newbooking.service.price, :unit => "£") %></td>
  <td><%= newbooking.paid %></td>
  <td><%= newbooking.complete %></td>
  <td><%= link_to 'Destroy', newbooking_path(newbooking),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
               </td>
  <td><a href= "<%= edit_newbooking_path(newbooking) %>" class = "btn btn-warning">Edit</a></td>
  </tr>
  <%end%>
  </table>
  <a href = "<%= homepage_index_path %>" class = "btn btn-default" role = "button">Homepage</a>
  </html>