<head>
<h1>Make a Booking For: <%= @pet.name %></h1>
</head>
<body>
<%= form_for [@customer, @pet, @newbooking] do |form| %>
<label for="date">Date:</label>
<%= form.date_field :date %>
<label for="time">Time:</label>
<%= form.time_field :time %>
<p>
<label for="service">Service:</label>
<%= form.collection_select(:service_id, Service.all, :id, :name, prompt: 'Select') %></p>
<p>
<%= form.check_box(:paid) %>
<%= label_tag(:paid, "This booking has been paid for") %></p>
<p>
<%= form.check_box(:complete) %>
<%= label_tag(:complete, "This walk has been completed") %></p>
<%= form.submit %>
</p>
<% end %>
<p>
<a href = "<%= customer_pet_path(@pet.customer, @pet) %>" class = "btn btn-default">Back</a>
</p>

</body>