<h1> New Booking</h1>
<%= form_for @newbooking do |f|%>
<p>
<%= f.label :date %><br>
<%= f.text_field :date %>
</p>
<p>
<%= f.label :time %><br>
<%= f.text_field :time %>
</p>
<p>
<%= f.submit %>
</p>
<%end%>
<%= link_to 'Back', controller: 'newbookings' %>